@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&family=Mooli&family=Noto+Sans:wght@600&family=Open+Sans:wght@300&family=PT+Sans:wght@700&family=Pacifico&family=Poppins:wght@700&family=Roboto&family=Roboto+Slab&family=Source+Code+Pro:ital,wght@1,500&display=swap");
html,
body,
.container {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
.mid-line {
  width: 70vw;
  height: 0.1px;
  border: 0.5px solid black;
  margin: 1vh;
}
.small-line {
  width: 30vw;
  height: 0.1px;
  border: 0.5px solid black;
  margin: 1vh;
}

html,
body,
.menu-icon,
.menu-icon,
.hamburger-menu-expand,
.cross-icon,
.navbar,
.navbar-elements,
.photo-sliding-section,
.work,
.name,
.work-items-section,
.work-item,
.about,
.about-text,
.speciality,
.text,
.slides-of-university,
.contacts,
.contacts > .text,
.map,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollToTopBtn {
  z-index: 99;
  position: fixed;
  height: auto;
  width: auto;
  bottom: 15px;
  right: 15px;
  background-color: transparent;
  color: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 25px;
}
.showTopbtn{
  background-color: rgba(1, 51, 101, 0.349);
  color: rgb(255, 255, 255);
  transition: 0.5s all ease;
}
.showTopbtn:hover{
  background-color: rgb(1, 51, 101);
  color: white;
}

/* =============================================================== */

.hamburger-menu {
  width: 0;
  height: 0;
  overflow: hidden;
}
.hamburger-menu-expand {
  left: 70vw;
  width: 0vw;
  height: 0vw;
}
.cross-icon {
  width: 0;
  height: 0;
}

.navbar {
  z-index: 99;
  user-select: none;
  padding: 0.5vw;
  height: 2.5vw;
  width: 100vw;
  background-color: transparent;
  /* justify-content: space-between; */
  position: fixed;
  transition: 3s all ease;
}
.scrolled {
  background-color: rgb(1, 51, 101);
}
.logo {
  height: 3vw;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
.navbar-elements {
  width: 60vw;
  height: 3vh;
  justify-content: space-evenly;
}
.navbar-elements > .nav-element > a {
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 1vh;
  transition: 0.5s all ease;
}
.nav-element > a:hover {
  background-color: rgb(190, 197, 203);
  color: rgb(36, 31, 31);
}

/* =============================================================== */

.photo-sliding-section {
  user-select: none;
  width: 100vw;
  height: 85vh;
}
.photo-auto-play {
  width: 80vw;
  height: 85vh;
  overflow: hidden;
  transition: 0.3s all ease;
}
.photo-auto-play > img {
  width: 100%;
  height: auto;
}
.prev-btn,
.next-btn {
  position: absolute;
  z-index: 1;
  color: red;
  top: 20vw;
  transform: translateY(-50%);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2vw;
  cursor: pointer;
  border: 0px solid rgba(0, 0, 0, 0.274);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: 0.3s all ease;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0px solid rgb(70, 62, 62);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}

.prev-btn {
  left: 11vw;
}

.next-btn {
  right: 11vw;
}

/* =============================================================== */

.company-name {
  font-size: 4vw;
}
.work {
  flex-direction: column;
}
.work-items-section {
  flex-direction: row;
  justify-content: space-evenly;
  height: 70vh;
}
.work-item {
  flex-direction: column;
  width: 25vw;
  margin: 2vw;
}
.work-item > img {
  width: 200px;
  aspect-ratio: 1/1;
}
.work-item > p {
  font-size: 1.2vw;
}
.work-item-btn {
  color: #fff;
  width: 10vw;
  height: 5vh;
  font-size: 1.2vw;
  border: transparent;
  border-radius: 5px;
  background-color: #0d6efd;
  transition: 0.2s all ease;
}
.work-item-btn:hover {
  font-size: 1.25vw;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: #0b5ed7;
}
/* =============================================================== */

.about {
    user-select: none;
  padding: 0;
  margin-bottom: 10vh;
  justify-content: space-evenly;
}
.about > img {
  margin-top: 15vh;
  width: 40vw;
  aspect-ratio: 3/2;
}
.about-text {
  flex-direction: column;
  width: 45vw;
}
.about-text > p {
  font-size: 1.2vw;
  line-height: 3.5vh;
}

/* =============================================================== */

.speciality {
    user-select: none;
  width: 100vw;
  height: 85vh;
  background-color: rgb(41, 34, 34);
  color: white;
  flex-direction: column;
}
.speciality > h1 {
  font-size: 3.5vw;
}
.speciality > .text {
  width: 70vw;
  height: 70vh;
  text-align: center;
  flex-direction: column;
}
.speciality > .mid-line {
  width: 80vw;
  border: 0.5px solid white;
}
.text > p {
  font-size: 1.25vw;
  color: #d3ffd3;
  margin: 0;
  margin-bottom: 2.5vh;
}
.text > .big-text {
  font-size: 1.4vw;
}

/* =============================================================== */

.slides-of-university {
  width: 98vw;
  height: 25vh;
  overflow: hidden;
  padding-left: 2vw;
}
.slides-of-university > img {
  width: 10vw;
  height: auto;
  margin-right: 15vh;
  animation: moveRightToLeft 20s linear infinite;
  z-index: -1;
}
@keyframes moveRightToLeft {
  0% {
    transform: translateX(150vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

/* =============================================================== */

.contacts {
  width: 100vw;
  height: 80vh;
  background-color: rgb(41, 34, 34);
  flex-direction: column;
  justify-content: space-evenly;
}
.contacts > .text {
  width: 90vw;
  height: 20vh;
  justify-content: space-evenly;
  color: white;
}
.contacts > .text > div {
  width: 20vw;
}
.contacts > .text > .mail {
  width: 10vw;
}
.contacts > .mid-line {
  border: 0.5px solid white;
}
.map {
  width: 100vw;
  height: 50vh;
  flex-direction: row;
  justify-content: space-evenly;
}
.map > a > img {
    user-select: none;
  width: 20vw;
  height: auto;
  border-radius: 10px;
}
.map-mobile-view {
  display: none;
}
/* =============================================================== */

.footer {
  width: 100vw;
  height: 7vh;
  font-size: small;
  background-color: #202020;
  color: #919191;
}

/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
/* =============================================================== */












/* =============================================================== */
/* =============================================================== */
/* =============================================================== */
/* =============================================================== */

@media (max-width: 850px) {
  .hamburger-menu {
    z-index: 100;
    left: 90vw;
    top: 1.5vw;
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
  }
  .hamburger-menu-expand {
    left: 65vw;
    width: 30vw;
    height: 40vw;
    border-radius: 15px;
    background-color: rgb(1, 51, 101);
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s all ease;
  }
  .hamburger-menu-expand > div > a {
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 1vh;
    transition: 0.5s all ease;
  }
  .cross-icon {
    width: 8vw;
    height: auto;
    color: white;
    font-size: 5vw;
    font-weight: 700;
    transition: 0.3s all ease;
  }
  .cross-icon:hover {
    background-color: rgb(151, 151, 151);
    color: rgb(1, 51, 101);
    border-radius: 20px;
  }

  .menu-icon {
    width: 5vw;
    height: 3vw;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-icon > .bar {
    width: 5vw;
    height: 0.3vw;
    border-radius: 20px;
    background-color: rgb(151, 151, 151);
  }

  .navbar {
    height: auto;
    font-size: 1.5vw;
    flex-direction: column;
    background-color: rgb(1, 51, 101);
    justify-content: space-between;
    transition: 1s all ease;
  }
  .scrolled {
    display: none;
  }
  .logo {
    margin-left: 0;
    height: 5.5vw;
  }
  .navbar-elements {
    width: 60vw;
    height: 3vh;
    justify-content: space-evenly;
    display: none;
  }
  .hamburger-menu-expand > .nav-element > a {
    font-size: 2.5vw;
  }
  .nav-element > a:hover {
    background-color: rgb(190, 197, 203);
    color: rgb(36, 31, 31);
  }

  /* =============================================================== */

  .photo-sliding-section {
    width: 100vw;
    height: auto;
  }
  .photo-auto-play {
    width: 100vw;
    height: auto;
    overflow: hidden;
  }
  .photo-auto-play > img {
    width: 100%;
    height: auto;
  }
  .prev-btn,
  .next-btn {
    top: 30vw;
  }

  .prev-btn {
    left: 2vw;
  }

  .next-btn {
    right: 2vw;
  }

  /* =============================================================== */

  .work-items-section {
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
  }
  .work-item {
    width: 90vw;
    flex-direction: column;
  }
  .work-item > img {
    margin-top: 10vw;
    width: 50px;
  }
  .work-text-heading{
    font-size: 4vw;
  }
  .work-item > p {
    font-size: 1.5vw;
  }
  .work-item-btn {
    width: 15vw;
    height: 4vw;
    font-size: 1.5vw;
  }
  .work-item-btn:hover {
    font-size: 1.8vw;
    border: 1px solid blue;
  }
  /* =============================================================== */

  .about {
    flex-direction: column;
  }
  .about > img {
    margin-top: 5vh;
    width: 90vw;
    aspect-ratio: 3/2;
  }
  .about-text {
    flex-direction: column;
    width: 85vw;
  }
  .about-text > p {
    font-size: 1.5vw;
    line-height: 1.5vh;
  }

  /* =============================================================== */

  .speciality {
    padding-top: 10vw;
    padding-bottom: 10vw;
    height: auto;
  }
  .speciality > .text {
    width: 80vw;
    height: auto;
  }
  .text > p {
    font-size: 1.5vw;
  }
  .text > .big-text {
    font-size: 1.7vw;
  }

  /* =============================================================== */

  .slides-of-university {
    width: 100vw;
    height: 15vw;
  }

  /* =============================================================== */

  .contacts {
    padding-top: 10vw;
    height: auto;
  }
  .contacts > .text {
    width: 90vw;
    height: auto;
    flex-direction: column;
  }
  .contacts > .text > div {
    width: 90vw;
  }
  .contacts > .text > div > p {
    line-height: 7vw;
  }
  .contacts > .text > .mail {
    width: 90vw;
  }
  .contacts > .mid-line {
    border: 0.5px solid white;
    margin-bottom: 15vw;
    margin-top: 15vw;
  }
  .map {
    width: 100vw;
    height: auto;
    flex-direction: column;
  }
  .map > a > img {
    width: 40vw;
    margin-bottom: 20vw;
    border-radius: 10px;
  }
  .map-web-view {
    display: none;
  }
  .map-mobile-view {
    display: flex;
  }
}

.vanish {
  display: none;
}
