@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&family=Mooli&family=Noto+Sans:wght@600&family=Open+Sans:wght@300&family=PT+Sans:wght@700&family=Pacifico&family=Poppins:wght@700&family=Roboto&family=Roboto+Slab&family=Source+Code+Pro:ital,wght@1,500&display=swap");
html,
body,
.container {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.menu-icon,
.menu-icon,
.hamburger-menu-expand,
.cross-icon,
.navbar,
.navbar-elements,
.workServicePage,
.servicesBtn > .item > .heading,
.contacts,
.contacts > .text,
.map,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-line {
  width: 70vw;
  height: 0.01vw;
  border: 0.5px solid black;
  background-color: black;
  margin: 1vh;
}
.scrollToTopBtn {
  z-index: 99;
  position: fixed;
  height: auto;
  width: auto;
  bottom: 15px;
  right: 15px;
  background-color: transparent;
  color: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(233, 233, 233, 0.349);
  color: rgb(255, 255, 255);
  transition: 0.5s all ease;
  user-select: none;
}
.scrollToTopBtn:hover {
  background-color: rgb(1, 51, 101);
  color: white;
}

/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */
/* ======================================================================== */

.hamburger-menu {
  width: 0;
  height: 0;
  overflow: hidden;
}
.hamburger-menu-expand {
  left: 70vw;
  width: 0vw;
  height: 0vw;
}
.cross-icon {
  width: 0;
  height: 0;
}

.navbar {
  z-index: 99;
  user-select: none;
  padding: 0.5vw;
  height: 2.5vw;
  width: 100vw;
  background-color: transparent;
  /* justify-content: space-between; */
  position: fixed;
  transition: 3s all ease;
}
.scrolled {
  background-color: rgb(1, 51, 101);
}
.logo {
  height: 3vw;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
.navbar-elements {
  width: 60vw;
  height: 3vh;
  justify-content: space-evenly;
}
.navbar-elements > .nav-element > a {
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 1vh;
  transition: 0.5s all ease;
}
.nav-element > a:hover {
  background-color: rgb(190, 197, 203);
  color: rgb(36, 31, 31);
}

/* =============================================================== */

.workServicePage {
  margin-top: 8vw;
  width: 100vw;
  height: auto;
  flex-direction: column;
}
.workServicePage > p{
  margin: 2vw 10vw 5vw;
}
.workServicePage > .container {
  width: 80vw;
  font-size: 1.2vw;
  line-height: 1.8vw;
}
.workServicePage > .container > ol {
  font-size: 1.1vw;
  line-height: 2vw;
  margin-bottom: 5vw;
}
.workServicePage > h1 {
  color: rgb(69, 69, 197);
  font-size: 3vw;
  margin: 0;
}
.workServicePage > h2 {
  margin: 0;
  margin-bottom: 1vw;
  font-size: 1.7vw;
}
.workServicePage > .servicesBtn {
  width: 80vw;
  height: auto;
  padding: 0;
  border-radius: 7px;
  margin-bottom: 3vw;
  border: 0.5px solid rgba(0, 0, 0, 0.1);

  overflow: hidden;
}
.servicesBtn > .item > .heading {
  justify-content: space-between;
  cursor: pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
}
.servicesBtn > .item > .heading > svg {
  width: 1vw;
  color: #ee7b7b;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.item.active > .heading  > svg{
  transform: rotate(180deg);
}
.servicesBtn > .item > .ans {
  height: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
  transition: height 1.5s ease-out;
  overflow: hidden;
}
.servicesBtn > .item.active > .ans {
  height: auto;
}

/* ========================================================================= */

.contacts {
  padding-top: 5vw;
  width: 100vw;
  height: 80vh;
  background-color: rgb(41, 34, 34);
  flex-direction: column;
  justify-content: space-evenly;
}
.contacts > .text {
  width: 90vw;
  height: 20vh;
  justify-content: space-evenly;
  color: white;
}
.contacts > .text > div {
  width: 20vw;
}
.contacts > .text > .mail {
  width: 10vw;
}
.contacts > .mid-line {
  border: 0.5px solid white;
}
.map {
  width: 100vw;
  height: 50vh;
  flex-direction: row;
  justify-content: space-evenly;
}
.map > a > img {
  user-select: none;
  width: 20vw;
  height: auto;
  border-radius: 10px;
}
.map-mobile-view {
  display: none;
}
/* ========================================================================= */

.footer {
  width: 100vw;
  height: 7vh;
  font-size: small;
  background-color: #202020;
  color: #919191;
}

/* ================================================================================= */
/* ================================================================================= */
/* ================================================================================= */

@media (max-width: 850px) {
  .hamburger-menu {
    z-index: 100;
    left: 90vw;
    top: 1.5vw;
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
  }
  .hamburger-menu-expand {
    left: 65vw;
    width: 30vw;
    height: 40vw;
    border-radius: 15px;
    background-color: rgb(1, 51, 101);
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s all ease;
  }
  .hamburger-menu-expand > div > a {
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 1vh;
    transition: 0.5s all ease;
  }
  .cross-icon {
    width: 8vw;
    height: auto;
    color: white;
    font-size: 5vw;
    font-weight: 700;
    transition: 0.3s all ease;
  }
  .cross-icon:hover {
    background-color: rgb(151, 151, 151);
    color: rgb(1, 51, 101);
    border-radius: 20px;
  }

  .menu-icon {
    width: 5vw;
    height: 4vw;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-icon > .bar {
    width: 5vw;
    height: 0.5vw;
    border: 0.1vw solid rgba(255, 255, 255, 0.5);
    background-color: rgb(1, 51, 101);
  }

  .navbar {
    height: auto;
    font-size: 1.5vw;
    flex-direction: column;
    background-color: rgb(1, 51, 101);
    justify-content: space-between;
    transition: 1s all ease;
  }
  .scrolled {
    display: block;
  }
  .logo {
    margin-left: 0;
    height: 6vw;
  }
  .navbar-elements {
    width: 60vw;
    height: 3vh;
    justify-content: space-evenly;
    display: none;
  }
  .hamburger-menu-expand > .nav-element > a {
    font-size: 2.5vw;
  }
  .nav-element > a:hover {
    background-color: rgb(190, 197, 203);
    color: rgb(36, 31, 31);
  }

  /* =============================================================== */


  .workServicePage {
    margin-top: 10vw;
    width: 100vw;
    height: auto;
    flex-direction: column;
  }
  .workServicePage > .container {
    width: 90vw;
    font-size: 3vw;
    line-height: 4vw;
  }
  .servicesBtn > h2{
    font-size: 3vw;
  }
  .workServicePage > .container > ol {
    font-size: 3vw;
    line-height: 4vw;
    margin-bottom: 5vw;
  }
  .workServicePage > h1 {
    color: rgb(69, 69, 197);
    font-size: 6vw;
    margin: 0;
  }
  .workServicePage > h2 {
    margin: 0;
    margin-bottom: 3vw;
    font-size: 3.5vw;
  }
  .workServicePage > .servicesBtn {
    width: 90vw;
    height: auto;
    padding: 0;
    border-radius: 7px;
    margin-bottom: 10vw;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .servicesBtn > .item > .heading {
    justify-content: space-between;
    cursor: pointer;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 7vw;
    font-size: 3vw;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
  }
  .servicesBtn > .item > .heading > svg {
    width: 2vw;
    cursor: pointer;
    transition: transform 0.2s ease-in;
  }
  .item.active > .heading  > svg{
    transform: rotate(180deg);
  }
  .servicesBtn > .item > .ans {
    height: 0;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .servicesBtn > .item.active > .ans {
    height: auto;
    padding: 2vw;
    font-size: 3vw;
    line-height: 5vw;
  }
  #last-container{
    padding-bottom: 10vw;
  }






  /* =============================================================== */

  .contacts {
    padding-top: 10vw;
    height: auto;
  }
  .contacts > .text {
    width: 90vw;
    height: auto;
    flex-direction: column;
  }
  .contacts > .text > div {
    width: 90vw;
  }
  .contacts > .text > div > p {
    line-height: 7vw;
  }
  .contacts > .text > .mail {
    width: 90vw;
  }
  .contacts > .mid-line {
    border: 0.5px solid white;
    margin-bottom: 15vw;
    margin-top: 15vw;
  }
  .map {
    width: 100vw;
    height: auto;
    flex-direction: column;
  }
  .map > a > img {
    width: 40vw;
    margin-bottom: 20vw;
    border-radius: 10px;
  }
  .map-web-view {
    display: none;
  }
  .map-mobile-view {
    display: flex;
  }

}

.vanish {
  display: none;
}
